images/*.qcow2
images/*-efivars.fd
images/*.iso
images/*-console.log
images/efivars-snapshot-*
tls/
cloud-init/
configs/*.kubeconfig
configs/encryption-config.yaml
*.tar.gz
bin/cilium
*.qcow2
*.log
logs/
backups/
images/*-install.log
